<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather App
        </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
        
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <br>
            <div>
                <p><h4>Use this site to get your Weather</h4></p>
            <form>
                <input placeholder="Enter location">
                <button>Search</button>
            </form>
            <p id="msg-1">
                
            </p>
            <p id="msg-2">

            </p>
            </div>
        </div>
        {{>footer}}
        <script src="/js/script.js"></script>
    </body>
</html>